* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  background: #000;
  color: #f9f9f9;
}

a {
  text-decoration: none;
	color: #aac9aa;
}

a:hover {
  text-decoration: underline;
	color: #95ac95 !important;
}