.formContainer {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.form input {
  padding: 7px;
  outline: none;
  background: #1B1C1B;
  color: #f9f9f9;
  border: 1px solid #333;
  border-radius: 2px;
}

.submitButton {
  background: #aac9aa !important;
  color: #1B1C1B !important;
  margin-top: 10px;
  padding: 8px !important;
  cursor: pointer;
  transition: background .2s ease, color .2s ease;
}

.submitButton:hover {
  background: #778977 !important;
  color: #f9f9f9 !important;
}

.link {
  margin-top: 10px;
  font-size: 15px;
}
